default:
  user: <admin user name e.g. 'admin'>
  password: <admin user password>
  url: <Alfresco Repository URL, e.g. 'https://localhost:8080'>
  rootGroup: my_root_group
  adminGroup: my_admin_group
  adminAppUsers:
  - name: app-user
    password: app-user-pw

  sites:
    - id: testsite
      title: Test Site
      description:  Test Site
      folders:
        - name: folder1
          roles:
            - role: Consumer
              group: consumer-group-1
            - role: Coordinator
              group: coordinator-group-1
        - name: folder2
          roles:
            - role: Consumer
              group: consumer-group-2
            - role: Collaborator
              group: collaborator-group-2
      roles:
        - role: SiteConsumer
          group: <group name with readonly access>
        - role: SiteCollaborator
          group: <group name with R/W access>

dev:
  password: <admin user password for dev stage>
  url: <Alfresco Repository URL for dev stage, e.g. 'https://dev.example.com'>

test:
  password: <admin user password for test stage>
  url: <Alfresco Repository URL for test stage, e.g. 'https://test.example.com'>

prod:
  password: <admin user password for prod stage>
  url: <Alfresco Repository URL for prod stage, e.g. 'https://prod.example.com'>
