# rules:
- folders:
    - testsite1
    - testsite2
  rule:
    title: my-first-rule
    description: First rule
    ruleType: ["inbound"]
    applyToChildren: true
    executeAsynchronously: true
    disabled: false
    action:
      actionDefinitionName: composite-action
      executeAsync: false
      actions:
        - actionDefinitionName: Action1
      conditions:
        - conditionDefinitionName: is-subtype
          parameterValues:
            type: cm:content
- folders:
    - testsite1
  rule:
    title: my-second-rule
    description: Second rule
    ruleType: ["inbound", "update"]
    applyToChildren: false
    executeAsynchronously: false
    disabled: false
    action:
      actionDefinitionName: composite-action
      executeAsync: false
      actions:
        - actionDefinitionName: AnotherAction
      conditions:
        - conditionDefinitionName: is-subtype
          parameterValues:
            type: cm:content
